<template>
  <dev-article>
    <el-form :inline="true" :model="formInline">
      <el-form-item label="创建人">
        <el-select v-model="formInline.auther" placeholder="请选择创建人">
          <el-option
            v-for="item in options"
            :key="item.index"
            :label="item.name"
            :value="item.pyname"
            >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="用例id">
        <el-input
          v-model="formInline.id"
          placeholder="请输入查询的id"
        ></el-input>
      </el-form-item>
      <el-form-item label="用例描述">
        <el-input
          v-model="formInline.description"
          placeholder="请输入查询的用例描述"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getData()">查询</el-button>
        <el-button @click="handleResit()">重置</el-button>
      </el-form-item>
    </el-form>

    <Table
      :columns="columns"
      :data="data"
      :loading="loading"
      border
      size="small"
    >
      <template slot-scope="{ row, index }" slot="action">
        <div>
          <Button @click="handleRun(row, index)"
            ><Icon type="md-arrow-dropright-circle" />创建</Button
          >
        </div>
      </template>
    </Table>
    <div class="pagediv">
      <Page
        :total="total"
        :current.sync="current"
        show-size
        @on-change="getData"
        @on-page-size-change="handleChangeSize"
      ></Page>
    </div>
  </dev-article>
</template>

<script>
import $ from "../libs/util/axios";
export default {
  data() {
    return {
      columns: [
        {
          type: "selection",
          width: 60,
          tooltip: true,
        },
        {
          title: "用例ID",
          key: "id",
          width: 100,
        },
        {
          title: "创建人",
          key: "auther",
          width: 130,
        },
        {
          title: "项目ID",
          key: "projectId",
          width: 100,
        },
        {
          title: "用例名称",
          key: "caseName",
          width: 300,
          tooltip: true,
        },
        {
          title: "API路径",
          key: "api",
          //  width: 60,
          tooltip: true,
        },
        {
          title: "分组名称",
          key: "groups",
          //  width: 60,
          tooltip: true,
        },
        {
          title: "用例描述",
          key: "description",
          //  width: 60,
          tooltip: true,
        },
        {
          title: "创建时间",
          key: "createTime",
           width: 160,
        },
        {
          title: "操作",
          slot: "action",
          width: 100,
        },
      ],
      data: [],
      loading: false,
      total: 0,
      current: 1,
      size: 10,
      projectid: -1,
      ceartMessage: "",
      formInline: {
        auther: "",
        id: "",
        description: "",
      },
      options: []
    };
  },
  methods: {
    getData() {
      if (this.loading) return;
      this.loading = true;
      $.ajax({
        method: "get",
        url: "/api/caselists",
        params: {
          pageNum: this.current,
          pageSize: this.size,
          auther: this.formInline.auther,
          id: this.formInline.id,
          description: this.formInline.description,
        },
      }).then((res) => {
        setTimeout(() => {
          this.data = res.data.data;
          this.total = res.data.totalSize;
          this.loading = false;
        }, 1000);
      });
    },
    handleChangeSize(val) {
      this.size = val;
      this.$nextTick(() => {
        this.getData();
      });
    },
    handleRun(row) {
      if (this.loading) return;
      this.loading = true;
      $.ajax({
        method: "post",
        url: `/job/creatone`,
        data: {
          id: row.id,
        },
      }).then((res) => {
        setTimeout(() => {
          this.loading = false;
          this.ceartMessage = res.data.message;
        }, 1000);
      });

      // this.projectid=r
    },
     getnamelists() {
      $.ajax({
        method: "get",
        url: "/api/names",
      }).then((res) => {
        setTimeout(() => {
          this.options = res.data.data;
        }, 1000);
      });
    },
    handleResit() {
      (this.formInline.auther = ""),
        (this.formInline.id = ""),
        (this.formInline.description = ""),
        (this.current = 1),
        (this.size = 10),
        this.getData();
    },
  },

  mounted() {
    this.getData();
    this.getnamelists();
  },
};
</script>
 

<style>
.pagediv {
  text-align: center;
  margin: 16px 0;
}
</style>