<template>
  <dev-article>
    <Row :gutter="16">
      <i-col span="6">
        <Card shadow title="用例总数">
          <Tag color="green" slot="extra">总</Tag>
          <div class="count">{{ totals }} 条</div>
          <Divider></Divider>
          今日新增：{{ todaytotals }} 条
        </Card>
      </i-col>

      <i-col span="6">
        <Card shadow title="任务">
          <Tooltip content="任务相关" slot="extra">
            <Icon type="ios-help-circle" size="18" />
          </Tooltip>
          <div class="count">256 个</div>
          <Divider></Divider>
          <div class="seus">今日新增：10 个</div>
        </Card>
      </i-col>

      <i-col span="6">
        <Card shadow title="已覆盖接口">
          <Tooltip content="已覆盖接口总数" slot="extra">
            <Icon type="ios-help-circle" size="18" />
          </Tooltip>
          <div class="count">{{ casetotal }} 个</div>
          <Divider></Divider>
          <!-- <Progress :percent="70" status="success" hide-info /> -->
          今日新增：{{ todaycases }} 条
        </Card>
      </i-col>

      <i-col span="6">
        <Card shadow title="用例覆盖率">
          <Tooltip content="暂无" slot="extra">
            <Icon type="ios-help-circle" size="18" />
          </Tooltip>
          <div class="count">70%</div>
          <Divider></Divider>
          <Progress :percent="70" status="success" hide-info />
        </Card>
      </i-col>
    </Row>
    <Card shadow style="margin-top: 16px">
      <Tabs value="case">
        <!-- <template slot="extra">
          <RadioGroup v-model="dateType" @on-change="handleSetDate">
            <Radio label="day">今天</Radio>
            <Radio label="week">本周</Radio>
            <Radio label="month">本月</Radio>
            <Radio label="year">本年</Radio>
          </RadioGroup>
          <DatePicker
            type="daterange"
            v-model="countDate"
            style="width: 250px"
            transfer
          ></DatePicker>
        </template> -->
        <TabPane label="用例" name="case">
          <Row>
            <i-col span="18">
              <div
                style="width: 100%; height: 400px"
                ref="chart"
                id="main"
              ></div>
            </i-col>
            <i-col span="6">
              <Table :columns="columns" :data="namedata"></Table>
            </i-col>
          </Row>
        </TabPane>
      </Tabs>
    </Card>
  </dev-article>
</template>

<script>
import * as echarts from "echarts";
import $ from "../libs/util/axios";
export default {
  props: {},
  data() {
    return {
      dateType: "day",
      countDate: [new Date(), new Date()],
      columns: [
        {
          type: "index",
        },
        {
          title: "姓名",
          key: "name",
        },
        {
          title: "提交CASE量",
          key: "num",
        },
      ],
      namedata: [],
      totals: 0,
      todaytotals: 0,
      casetotal: 0,
      todaycases: 0,
    };
  },
  computed: {},
  methods: {
    handleSetDate(type) {
      const today = new Date().getTime();
      let date;
      switch (type) {
        case "day":
          date = today;
          break;
        case "week":
          date = today - 86400000 * 7;
          break;
        case "month":
          date = today - 86400000 * 30;
          break;
        case "year":
          date = today - 86400000 * 365;
          break;
      }
      this.countDate = [new Date(date), new Date(today)];
    },

    initChart() {
      const myChart = echarts.init(document.getElementById("main"));
      var option;
      var datas = [];
      var nums = [];

      $.ajax({ method: "get", url: `/index/echars` }).then((res) => {
        myChart.showLoading();
        var result = res.data.data;
        setTimeout(() => {
          if (result) {
            for (var a = 0; a < result.length; a++) {
              datas.push(result[a].ctime); //挨个取出类别并填入类别数组
            }
            for (var i = 0; i < result.length; i++) {
              nums.push(result[i].nums); //挨个取出销量并填入销量数组
            }
            myChart.hideLoading();

            option = {
              title: {
                text: "近7日提交CASE量",
              },
              tooltip: {
                trigger: "none",
                axisPointer: {
                  type: "cross",
                },
              },
              legend: {},
              grid: {
                top: 70,
                bottom: 50,
              },

              xAxis: {
                type: "category",
                data: datas,
                axisTick: {
                  alignWithLabel: true,
                },
                axisLine: {
                  onZero: false,
                },
                axisPointer: {
                  label: {
                    formatter: function (params) {
                      return (
                        params.value +
                        (params.seriesData.length
                          ? "新增CASE：" + params.seriesData[0].data + "个"
                          : "")
                      );
                    },
                  },
                },
              },
              yAxis: { type: "value" },
              series: [
                {
                  type: "line",
                  data: nums,
                  smooth: true,
                  emphasis: {
                    focus: "series",
                  },
                },
              ],
            };

            option && myChart.setOption(option);
          }
        }, 1000);
      });
    },

    gettotals() {
      $.ajax({
        method: "get",
        url: `/index/gettotal`,
      }).then((res) => {
        setTimeout(() => {
          this.totals = res.data.count;
          this.loading = false;
        }, 1000);
      });
    },
    gettodaytotals() {
      $.ajax({
        method: "get",
        url: `/index/gettadytotal`,
      }).then((res) => {
        setTimeout(() => {
          this.todaytotals = res.data.count;
          this.loading = false;
        }, 1000);
      });
    },
    getnamedata() {
      $.ajax({
        method: "get",
        url: `/index/namelist`,
      }).then((res) => {
        setTimeout(() => {
          this.namedata = res.data.data;
          this.loading = false;
        }, 1000);
      });
    },

    getcases() {
      $.ajax({
        method: "get",
        url: `/index/getcases`,
      }).then((res) => {
        console.log(res);
        setTimeout(() => {
          this.casetotal = res.data.count;
          this.loading = false;
        }, 1000);
      });
    },
    gettodaycases() {
      $.ajax({
        method: "get",
        url: `/index/gettodaycases`,
      }).then((res) => {
        console.log(res);
        setTimeout(() => {
          this.todaycases = res.data.count;
          this.loading = false;
        }, 1000);
      });
    },
  },

  mounted() {
    this.initChart();
    this.gettotals();
    this.gettodaytotals();
    this.getnamedata();
    this.getcases();
  },
};
</script>

<style>
.count {
  font-size: 24px;
}
</style>