<template>
  <dev-article>
    <!-- <div style="padding: 32px 64px">
      <h1>按钮</h1>
      <br><br>
      <Table :columns="columns" :data="data" :loading="loading" size="small">

      </Table>


    </div> -->
  </dev-article>
</template>

<script>
// import $ from '../libs/util/axios';
// export default {
//   data(){
//     return{
//       columns:[],
//       data:[],
//       loading:false
//     }
//   },
//   methods:{
//     getdata(){
//       if (this.loading) return ;
//       this.loading=true,
//       $.ajax({
//         method:"get",
//         url:xxx,

//       }).then(res=>{
//         setTimeout(()=>{
//           this.data = res.data.data.list;
//           this.loading = false
//         },1000)
//       })

//     }
//   }

// }
</script>

<style>

</style>