<template>
  <dev-article>
    <el-row>
      <el-col :span="12"
        ><div class="grid-content bg-purple">
          <h3>在386门店生成已支付的O2O订单</h3>
          <el-divider></el-divider>
          <el-row>
            <el-button round class="addbutton" @click="addo2o">一键生成</el-button>
          </el-row>
        </div></el-col
      >
      <el-col :span="12"
        ><div class="grid-content bg-purple-light">
          <h3>在386门店生成已支付的到店订单</h3>
          <el-divider></el-divider>
          <el-button round class="addbutton" @click="add">一键生成</el-button>
        </div></el-col
      >
    </el-row>
  </dev-article>
</template>

<script>
export default {
  data(){
    return{
    }
  },
  methods:{

  },
  mounted(){

  }

};
</script>

<style>
.addbutton {
  margin-left: 50px;
}

h3 {
  text-align: center;
}
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #b8c4cf;
  height: 300px;
}
.bg-purple-light {
  background: #bbbec7;
  height: 300px;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
