<template>
  <Layout>
    <Header class="header">
      <Row>
        <i-col span="4" offset="1">
          <img src="../assets/logo.png" alt="logo" class="logo" />
        </i-col>
        <i-col span="14">
          <Menu mode="horizontal" :active-name="activeName">
            <MenuItem name="/index" to="/index">首页</MenuItem>
            <MenuItem name="/caselist" to="/caselist"> 测试用例</MenuItem>
            <MenuItem name="/joblist" to="/joblist"> 定时任务</MenuItem>
            <MenuItem name="/tools" to="/tools"> 快捷工具</MenuItem>
          </Menu>
        </i-col>
        <i-col span="4">
          <Row>
            <i-col span="8" style="text-align: center">
              <Dropdown>
                <Avatar
                  src="https://pic1.zhimg.com/v2-1360652c59e2e7593824e519b91797b1_1440w.jpg?source=172ae18b"
                ></Avatar>
              </Dropdown>
            </i-col>
            <i-col span="8"> 大包 </i-col>
          </Row>
        </i-col>
      </Row>
    </Header>
    <Layout>

      <Content class="content" >
      
          <slot></slot>
        
        
      </Content>
    </Layout>
  </Layout>
</template>
<script>
export default {
  data() {
    return {
      activeName: this.$route.path,
    };
  },
  created() {
    this.activeName = this.$route.path;
  },
};
</script>
<style scoped>
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.logo {
  height: 50px;
  margin-top: 5px;
}
.ivu-menu-horizontal.ivu-menu-light:after{
  display: none;
}
.content{
  /* margin-left: 240px; */
  margin-top: 60px;
  padding: 16px;
  transition: all .2s ease-in-out ;
}

</style>